body{
	font-family: 'Noto Sans TC', sans-serif;
}

#container{
	width: 95%;
	padding: 2%;
    & #question_con{
        width: 90%;
        background-color: white;
        border-radius: 10px;
        margin: 0 auto;
        @include media-pc{
            border: 5px solid black;
        }
        @include media-mobile{
            border: 3px solid black;
        }
        & #question{
            width: 90%;
            padding: 5px 0 5px 0;
            margin: 0 auto;
            @include media-pc{
                font-size: 30px;
            }
            @include media-mobile{
                font-size: 20px;
            }
        }
    }
    & #fishbox{
        cursor: url("../../image/favicon-20200317101400501.ico"), auto;
        & .tip{
            max-height: 20%;
            border: double orange 1em;
            border-image: url('../../image/pngguru-1.png')450 450 stretch;
            // border-image: url(http://www.wibibi.com/upload/20150113225637.png) 30 30 repeat;
            // background-image: url('../../image/pinclipart.9.png');
            overflow: auto;
            background-color: white;
            background-clip: content-box;
            border-radius: 5px;
            // padding: 1%;
            visibility: hidden;
            @include media-pc{
                font-size: 24px;
            }
            @include media-mobile{
                font-size: 16px;
            }
        }
        // & #tooltip0{
        //     border: 3px solid yellow;
        // }
        // & #tooltip1{
        //     // border: 3px solid pink;
        // }
        & #tooltip2{
            max-height: fit-content;
            border-image: url('../../image/pngguru.png')450 450 stretch;
        }
        & .fish{
            width: 30%;
        }
        & #fish0{
            animation: upAndDown 3s ease-in-out infinite;
        }
        & #fish1{
            animation: leftAndRight 3s ease-in-out infinite;
        }
        & #fish2{
            animation: swim 6s ease-in-out infinite;
        }
        & .ans{
            height: 30%;
            visibility: hidden;
        }
        & #score_con{
            display: flex;
            & #score{
                background-color: orange;
                border-radius: 5px;
                padding: 2%;
                text-align: center;
                @include media-pc{
                    font-size: 24px;
                    border: 5px solid white;
                    margin-bottom: 10%;
                }
                @include media-mobile{
                    font-size: 14px;
                    border: 3px solid white;
                    margin-bottom: 60%;
                }
            }
        }
    }
}

@keyframes upAndDown {
	0% {
		transform: translate(0, 110%) scaleY(1);
	}
	50% {
		transform: translate(20%, 10%) scaleY(1.2);
	}
	100% {
		transform: translate(0, 110%) scaleY(1);
	}
}
@keyframes leftAndRight {
	0% {
		transform: translate(-50%, 0) scaleX(1);	
	}
	50% {
		transform: translate(50%, 10%) scaleX(1.2);
	}
	100% {
		transform: translate(-50%, 0) scaleX(1);
	}
}
@keyframes swim {
	0% {
		transform: translate(50%, -20%);	
	}
	50% {
		transform: translate(200%, -20%);
	}
	51% {
		transform: translate(200%, -20%) scaleX(-1);
	}
	100% {
		transform: translate(50%, -20%) scaleX(-1);
	}
}