body {
  font-family: 'Noto Sans TC', sans-serif;
}

#container {
  width: 95%;
  padding: 2%;
}

#container #question_con {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
}

@media only screen {
  #container #question_con {
    border: 5px solid black;
  }
}

@media only screen and (max-width: 480px) {
  #container #question_con {
    border: 3px solid black;
  }
}

#container #question_con #question {
  width: 90%;
  padding: 5px 0 5px 0;
  margin: 0 auto;
}

@media only screen {
  #container #question_con #question {
    font-size: 30px;
  }
}

@media only screen and (max-width: 480px) {
  #container #question_con #question {
    font-size: 20px;
  }
}

#container #fishbox {
  cursor: url("../../image/favicon-20200317101400501.ico"), auto;
}

#container #fishbox .tip {
  max-height: 20%;
  border: double orange 1em;
  -o-border-image: url("../../image/pngguru-1.png") 450 450 stretch;
     border-image: url("../../image/pngguru-1.png") 450 450 stretch;
  overflow: auto;
  background-color: white;
  background-clip: content-box;
  border-radius: 5px;
  visibility: hidden;
}

@media only screen {
  #container #fishbox .tip {
    font-size: 24px;
  }
}

@media only screen and (max-width: 480px) {
  #container #fishbox .tip {
    font-size: 16px;
  }
}

#container #fishbox #tooltip2 {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -o-border-image: url("../../image/pngguru.png") 450 450 stretch;
     border-image: url("../../image/pngguru.png") 450 450 stretch;
}

#container #fishbox .fish {
  width: 30%;
}

#container #fishbox #fish0 {
  -webkit-animation: upAndDown 3s ease-in-out infinite;
          animation: upAndDown 3s ease-in-out infinite;
}

#container #fishbox #fish1 {
  -webkit-animation: leftAndRight 3s ease-in-out infinite;
          animation: leftAndRight 3s ease-in-out infinite;
}

#container #fishbox #fish2 {
  -webkit-animation: swim 6s ease-in-out infinite;
          animation: swim 6s ease-in-out infinite;
}

#container #fishbox .ans {
  height: 30%;
  visibility: hidden;
}

#container #fishbox #score_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container #fishbox #score_con #score {
  background-color: orange;
  border-radius: 5px;
  padding: 2%;
  text-align: center;
}

@media only screen {
  #container #fishbox #score_con #score {
    font-size: 24px;
    border: 5px solid white;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 480px) {
  #container #fishbox #score_con #score {
    font-size: 14px;
    border: 3px solid white;
    margin-bottom: 60%;
  }
}

@-webkit-keyframes upAndDown {
  0% {
    -webkit-transform: translate(0, 110%) scaleY(1);
            transform: translate(0, 110%) scaleY(1);
  }
  50% {
    -webkit-transform: translate(20%, 10%) scaleY(1.2);
            transform: translate(20%, 10%) scaleY(1.2);
  }
  100% {
    -webkit-transform: translate(0, 110%) scaleY(1);
            transform: translate(0, 110%) scaleY(1);
  }
}

@keyframes upAndDown {
  0% {
    -webkit-transform: translate(0, 110%) scaleY(1);
            transform: translate(0, 110%) scaleY(1);
  }
  50% {
    -webkit-transform: translate(20%, 10%) scaleY(1.2);
            transform: translate(20%, 10%) scaleY(1.2);
  }
  100% {
    -webkit-transform: translate(0, 110%) scaleY(1);
            transform: translate(0, 110%) scaleY(1);
  }
}

@-webkit-keyframes leftAndRight {
  0% {
    -webkit-transform: translate(-50%, 0) scaleX(1);
            transform: translate(-50%, 0) scaleX(1);
  }
  50% {
    -webkit-transform: translate(50%, 10%) scaleX(1.2);
            transform: translate(50%, 10%) scaleX(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, 0) scaleX(1);
            transform: translate(-50%, 0) scaleX(1);
  }
}

@keyframes leftAndRight {
  0% {
    -webkit-transform: translate(-50%, 0) scaleX(1);
            transform: translate(-50%, 0) scaleX(1);
  }
  50% {
    -webkit-transform: translate(50%, 10%) scaleX(1.2);
            transform: translate(50%, 10%) scaleX(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, 0) scaleX(1);
            transform: translate(-50%, 0) scaleX(1);
  }
}

@-webkit-keyframes swim {
  0% {
    -webkit-transform: translate(50%, -20%);
            transform: translate(50%, -20%);
  }
  50% {
    -webkit-transform: translate(200%, -20%);
            transform: translate(200%, -20%);
  }
  51% {
    -webkit-transform: translate(200%, -20%) scaleX(-1);
            transform: translate(200%, -20%) scaleX(-1);
  }
  100% {
    -webkit-transform: translate(50%, -20%) scaleX(-1);
            transform: translate(50%, -20%) scaleX(-1);
  }
}

@keyframes swim {
  0% {
    -webkit-transform: translate(50%, -20%);
            transform: translate(50%, -20%);
  }
  50% {
    -webkit-transform: translate(200%, -20%);
            transform: translate(200%, -20%);
  }
  51% {
    -webkit-transform: translate(200%, -20%) scaleX(-1);
            transform: translate(200%, -20%) scaleX(-1);
  }
  100% {
    -webkit-transform: translate(50%, -20%) scaleX(-1);
            transform: translate(50%, -20%) scaleX(-1);
  }
}
/*# sourceMappingURL=style.css.map */